.ea-detail .field-group.field-boolean .field-label {
    flex: unset;
    min-width: 0;
    margin: 0 15px 0 0 !important;
    width: 130px !important;
    text-align: right !important;
}

.ea-detail .field-group.field-boolean {
    flex-direction: row !important;
}

.ea-detail .field-group.field-boolean .field-value {
    flex: 1 !important;
    min-width: 66% !important;
    text-align: left !important;
}