{% set contactStructures = entity.instance.contactStructures %}

{% if contactStructures|length > 0 %}
<ul class="list-group text-start list-group-flush m-0">
{% for contactDetail in contactStructures %}

    <li class="list-group-item m-0">
        {% if contactDetail.structure %}
            {% set url = ea_url().setController('App\\Controller\\Admin\\StructureCrudController')
                      .setEntityId(contactDetail.structure.id)
                      .setAction('detail')
            %}
        <a href="{{ url }}" target="_blank">{{ contactDetail.structure }}</a>
        {% else %}
            {{ contactDetail.structure }}
        {% endif %}
    </li>
{% endfor %}
</ul>
{% endif %}